# lms_loan_daily.csv

In [12]:
print(f"\nðŸ“‚ File: lms_loan_daily")
df = pd.read_csv("data/lms_loan_daily.csv")

# Print basic info
print("Shape:", df.shape)
print("Columns:", df.columns.tolist())
print("Data types:\n", df.dtypes)
print("Missing values:\n", df.isnull().sum())

# Preview first 5 rows
print("\nSample rows:")
print(df.head(), "\n" + "-"*80)
min_date = df["snapshot_date"].min()
max_date = df["snapshot_date"].max()     
print(f"   Min snapshot_date = {min_date}")
print(f"   Max snapshot_date = {max_date}\n")

ðŸ“‚ File: lms_loan_daily
Shape: (137500, 11)
Columns: ['loan_id', 'Customer_ID', 'loan_start_date', 'tenure', 'installment_num', 'loan_amt', 'due_amt', 'paid_amt', 'overdue_amt', 'balance', 'snapshot_date']
Data types:
 loan_id             object
Customer_ID         object
loan_start_date     object
tenure               int64
installment_num      int64
loan_amt             int64
due_amt            float64
paid_amt           float64
overdue_amt        float64
balance            float64
snapshot_date       object
dtype: object
Missing values:
 loan_id            0
Customer_ID        0
loan_start_date    0
tenure             0
installment_num    0
loan_amt           0
due_amt            0
paid_amt           0
overdue_amt        0
balance            0
snapshot_date      0
dtype: int64

Sample rows:
                 loan_id Customer_ID loan_start_date  tenure  installment_num  \
0  CUS_0x1000_2023_05_01  CUS_0x1000      2023-05-01      10                0
1  CUS_0x1000_2023_05_01  CUS_0x1000      2023-05-01      10                1
2  CUS_0x1000_2023_05_01  CUS_0x1000      2023-05-01      10                2
3  CUS_0x1000_2023_05_01  CUS_0x1000      2023-05-01      10                3
4  CUS_0x1000_2023_05_01  CUS_0x1000      2023-05-01      10                4

   loan_amt  due_amt  paid_amt  overdue_amt  balance snapshot_date
0     10000      0.0       0.0          0.0  10000.0    2023-05-01
1     10000   1000.0    1000.0          0.0   9000.0    2023-06-01
2     10000   1000.0    1000.0          0.0   8000.0    2023-07-01
3     10000   1000.0       0.0       1000.0   8000.0    2023-08-01
4     10000   1000.0    2000.0          0.0   6000.0    2023-09-01
--------------------------------------------------------------------------------
   Min snapshot_date = 2023-01-01
   Max snapshot_date = 2025-11-01

# feature_clickstream.csv

In [13]:
print(f"\nðŸ“‚ File: feature_clickstream")
df = pd.read_csv("data/feature_clickstream.csv")

# Print basic info
print("Shape:", df.shape)
print("Columns:", df.columns.tolist())
print("Data types:\n", df.dtypes)
print("Missing values:\n", df.isnull().sum())

# Preview first 5 rows
print("\nSample rows:")
print(df.head(), "\n" + "-"*80)
min_date = df["snapshot_date"].min()
max_date = df["snapshot_date"].max()     
print(f"   Min snapshot_date = {min_date}")
print(f"   Max snapshot_date = {max_date}\n")

ðŸ“‚ File: feature_clickstream
Shape: (215376, 22)
Columns: ['fe_1', 'fe_2', 'fe_3', 'fe_4', 'fe_5', 'fe_6', 'fe_7', 'fe_8', 'fe_9', 'fe_10', 'fe_11', 'fe_12', 'fe_13', 'fe_14', 'fe_15', 'fe_16', 'fe_17', 'fe_18', 'fe_19', 'fe_20', 'Customer_ID', 'snapshot_date']
Data types:
 fe_1              int64
fe_2              int64
fe_3              int64
fe_4              int64
fe_5              int64
fe_6              int64
fe_7              int64
fe_8              int64
fe_9              int64
fe_10             int64
fe_11             int64
fe_12             int64
fe_13             int64
fe_14             int64
fe_15             int64
fe_16             int64
fe_17             int64
fe_18             int64
fe_19             int64
fe_20             int64
Customer_ID      object
snapshot_date    object
dtype: object
Missing values:
 fe_1             0
fe_2             0
fe_3             0
fe_4             0
fe_5             0
fe_6             0
fe_7             0
fe_8             0
fe_9             0
fe_10            0
fe_11            0
fe_12            0
fe_13            0
fe_14            0
fe_15            0
fe_16            0
fe_17            0
fe_18            0
fe_19            0
fe_20            0
Customer_ID      0
snapshot_date    0
dtype: int64

Sample rows:
   fe_1  fe_2  fe_3  fe_4  fe_5  fe_6  fe_7  fe_8  fe_9  fe_10  ...  fe_13  \
0    63   118    80   121    55   193   111   112  -101     83  ...    -16
1  -108   182   123     4   -56    27    25    -6   284    222  ...    -14
2   -13     8    87   166   214   -98   215   152   129    139  ...     26
3   -85    45   200    89   128    54    76    51    61    139  ...    172
4    55   120   226   -86   253    97   107    68   103    126  ...     76

   fe_14  fe_15  fe_16  fe_17  fe_18  fe_19  fe_20  Customer_ID  snapshot_date
0    -81   -126    114     35     85    -73     76   CUS_0x1037     2023-01-01
1    -96    200     35    130     94    111     75   CUS_0x1069     2023-01-01
2     86    171    125   -130    354     17    302   CUS_0x114a     2023-01-01
3     96    174    163     37    207    180    118   CUS_0x1184     2023-01-01
4     43    183    159    -26    104    118    184   CUS_0x1297     2023-01-01

[5 rows x 22 columns]
--------------------------------------------------------------------------------
   Min snapshot_date = 2023-01-01
   Max snapshot_date = 2024-12-01

# features_attributes.csv

In [14]:
print(f"\nðŸ“‚ File: features_attributes")
df = pd.read_csv("data/features_attributes.csv")

# Print basic info
print("Shape:", df.shape)
print("Columns:", df.columns.tolist())
print("Data types:\n", df.dtypes)
print("Missing values:\n", df.isnull().sum())

# Preview first 5 rows
print("\nSample rows:")
print(df.head(), "\n" + "-"*80)
min_date = df["snapshot_date"].min()
max_date = df["snapshot_date"].max()     
print(f"   Min snapshot_date = {min_date}")
print(f"   Max snapshot_date = {max_date}\n")

ðŸ“‚ File: features_attributes
Shape: (12500, 6)
Columns: ['Customer_ID', 'Name', 'Age', 'SSN', 'Occupation', 'snapshot_date']
Data types:
 Customer_ID      object
Name             object
Age              object
SSN              object
Occupation       object
snapshot_date    object
dtype: object
Missing values:
 Customer_ID      0
Name             0
Age              0
SSN              0
Occupation       0
snapshot_date    0
dtype: int64

Sample rows:
  Customer_ID            Name Age          SSN     Occupation snapshot_date
0  CUS_0x1000  Alistair Barrf  18  913-74-1218         Lawyer    2023-05-01
1  CUS_0x1009          Arunah  26  063-67-6938       Mechanic    2025-01-01
2  CUS_0x100b        Shirboni  19    #F%$D@*&8  Media_Manager    2024-03-01
3  CUS_0x1011       Schneyerh  44  793-05-8223         Doctor    2023-11-01
4  CUS_0x1013        Cameront  44  930-49-9615       Mechanic    2023-12-01
--------------------------------------------------------------------------------
   Min snapshot_date = 2023-01-01
   Max snapshot_date = 2025-01-01

# features_financials.csv

In [15]:
print(f"\nðŸ“‚ File: features_financials")
df = pd.read_csv("data/features_financials.csv")

# Print basic info
print("Shape:", df.shape)
print("Columns:", df.columns.tolist())
print("Data types:\n", df.dtypes)
print("Missing values:\n", df.isnull().sum())

# Preview first 5 rows
print("\nSample rows:")
print(df.head(), "\n" + "-"*80)
min_date = df["snapshot_date"].min()
max_date = df["snapshot_date"].max()     
print(f"   Min snapshot_date = {min_date}")
print(f"   Max snapshot_date = {max_date}\n")

ðŸ“‚ File: features_financials
Shape: (12500, 22)
Columns: ['Customer_ID', 'Annual_Income', 'Monthly_Inhand_Salary', 'Num_Bank_Accounts', 'Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan', 'Type_of_Loan', 'Delay_from_due_date', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit', 'Num_Credit_Inquiries', 'Credit_Mix', 'Outstanding_Debt', 'Credit_Utilization_Ratio', 'Credit_History_Age', 'Payment_of_Min_Amount', 'Total_EMI_per_month', 'Amount_invested_monthly', 'Payment_Behaviour', 'Monthly_Balance', 'snapshot_date']
Data types:
 Customer_ID                  object
Annual_Income                object
Monthly_Inhand_Salary       float64
Num_Bank_Accounts             int64
Num_Credit_Card               int64
Interest_Rate                 int64
Num_of_Loan                  object
Type_of_Loan                 object
Delay_from_due_date           int64
Num_of_Delayed_Payment       object
Changed_Credit_Limit         object
Num_Credit_Inquiries        float64
Credit_Mix                   object
Outstanding_Debt             object
Credit_Utilization_Ratio    float64
Credit_History_Age           object
Payment_of_Min_Amount        object
Total_EMI_per_month         float64
Amount_invested_monthly      object
Payment_Behaviour            object
Monthly_Balance              object
snapshot_date                object
dtype: object
Missing values:
 Customer_ID                    0
Annual_Income                  0
Monthly_Inhand_Salary          0
Num_Bank_Accounts              0
Num_Credit_Card                0
Interest_Rate                  0
Num_of_Loan                    0
Type_of_Loan                1426
Delay_from_due_date            0
Num_of_Delayed_Payment         0
Changed_Credit_Limit           0
Num_Credit_Inquiries           0
Credit_Mix                     0
Outstanding_Debt               0
Credit_Utilization_Ratio       0
Credit_History_Age             0
Payment_of_Min_Amount          0
Total_EMI_per_month            0
Amount_invested_monthly        0
Payment_Behaviour              0
Monthly_Balance                0
snapshot_date                  0
dtype: int64

Sample rows:
  Customer_ID       Annual_Income  Monthly_Inhand_Salary  Num_Bank_Accounts  \
0  CUS_0x1000            30625.94            2706.161667                  6
1  CUS_0x1009           52312.68_            4250.390000                  6
2  CUS_0x100b  113781.38999999998            9549.782500                  1
3  CUS_0x1011            58918.47            5208.872500                  3
4  CUS_0x1013            98620.98            7962.415000                  3

   Num_Credit_Card  Interest_Rate Num_of_Loan  \
0                5             27           2
1                5             17           4
2                4              1           0
3                3             17           3
4                3              6           3

                                        Type_of_Loan  Delay_from_due_date  \
0          Credit-Builder Loan, and Home Equity Loan                   57
1  Not Specified, Home Equity Loan, Credit-Builde...                    5
2                                                NaN                   14
3  Student Loan, Credit-Builder Loan, and Debt Co...                   27
4  Student Loan, Debt Consolidation Loan, and Per...                   12

  Num_of_Delayed_Payment  ... Credit_Mix  Outstanding_Debt  \
0                     26  ...        Bad           1562.91
1                     18  ...          _            202.68
2                      8  ...       Good            1030.2
3                     13  ...   Standard            473.14
4                      9  ...       Good           1233.51

  Credit_Utilization_Ratio      Credit_History_Age  Payment_of_Min_Amount  \
0                30.077191   10 Years and 9 Months                    Yes
1                40.286997   31 Years and 0 Months                    Yes
2                28.592943  15 Years and 10 Months                     No
3                27.829959  15 Years and 10 Months                    Yes
4                26.524864  17 Years and 10 Months                     No

  Total_EMI_per_month Amount_invested_monthly  \
0           42.941090       77.31427572208112
1          108.366467       58.66019164829086
2            0.000000       617.0792665202719
3          123.434939      383.35084463651407
4          228.018084       332.3337079767732

                  Payment_Behaviour     Monthly_Balance snapshot_date
0  High_spent_Medium_value_payments  400.36080052211616    2023-05-01
1  High_spent_Medium_value_payments  508.01234122645366    2025-01-01
2   High_spent_Small_value_payments   597.8989834797281    2024-03-01
3   Low_spent_Medium_value_payments   294.1014665671429    2023-11-01
4  High_spent_Medium_value_payments   485.8897083704929    2023-12-01

[5 rows x 22 columns]
--------------------------------------------------------------------------------
   Min snapshot_date = 2023-01-01
   Max snapshot_date = 2025-01-01